<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>POKEDEX O'CLOCK</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <!-- en tête de page -->
            <header>
                <h1>Mon Pokedex</h1>
            </header>