
<%- include('./partials/header')%>
    <main>
        <section>
            <h2>Liste de Pokemons</h2>
            <div>
                <img class="picture" src="/img/1.png" alt="pokemon">
                <p>description</p>
            </div>    
        </section>
    </main>
<%- include('./partials/footer')%>